<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Hello Admin</h1>
  </div>
  <div class="input-group">
    <div class="left-wrapper">
      <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Question" />
      <button class="btn btn-primary" id="search" type="button" (click)="searchQuestions()">Search</button>
    </div>
    <div class="right-wrapper">
      <select id="responseType" [(ngModel)]="selectedResponseType">
        <option selected value="" >All</option>
        <option *ngFor="let type of answerTypes"  [value]="type.typeName">
          {{ type.typeName }}
        </option>
      </select>
      <button class="btn btn-primary" id="filter-btn" (click)="filterQuestions()">Filter</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Existing Question List</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover" id="question-table">
        <tr>
          <th class="scope">Question</th>
          <th class="scope">ResponseType</th>
          <th class="scope">Required</th>
          <th class="scope">Action</th>
        </tr>
        <tr *ngFor="let question of questions">
          <td>{{ question.question }}</td>
          <td> {{ question.answerType }}</td>
          <td>{{ question.required ? 'Yes' : 'No' }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/admin/edit-question']" [queryParams]="{ questionid: question.id }">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteQuestion(question.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>