<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Hello Admin</h1>
  </div>
  <div class="input-group">
    <div class="left-wrapper">
      <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Question" />
      <button class="btn btn-primary" id="search" type="button" (click)="searchQuestions()">Search</button>
    </div>
    <div class="right-wrapper">
      <select id="responseType" [(ngModel)]="selectedResponseType">
        <option selected value="" >All</option>
        <option *ngFor="let type of answerTypes"  [value]="type.typeName">
          {{ type.typeName }}
        </option>
      </select>
      <button class="btn btn-primary" id="filter-btn" (click)="filterQuestions()">Filter</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Existing Question List</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover" id="question-table">
        <tr>
          <th class="scope">Question</th>
          <th class="scope">ResponseType</th>
          <th class="scope">Required</th>
          <th class="scope">Action</th>
        </tr>
        <tr *ngFor="let question of questions">
          <td>{{ question.question }}</td>
          <td> {{ question.answerType }}</td>
          <td>{{ question.required ? 'Yes' : 'No' }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/admin/edit-question']" [queryParams]="{ questionid: question.id }">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#questionDelete" (click)="updateQuestionIdToDelete(question.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>





<div id="questionDelete" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete question</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this question?</p>
          <p class="text-danger" style="font-weight: bold;">
            <small>This action cannot be undone.</small>
          </p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-bs-dismiss="modal"
            value="Cancel"
          />
          <button class="btn btn-danger" (click)="deleteQuestion()"  data-bs-dismiss="modal" >Delete question</button>
        </div>
      </form>
    </div>
  </div>
</div>