<section class="main">
  <div class="container">
    <div class="heading-wrapper">
      <p>Create New Question</p>
    </div>

    <div class="main-content">
      <div class="form-wrapper">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
          <div class="form-metadata row">
            <div class="input-wrapper form-name-wrapper col-12 col-md-4">
              <label for="questionName">Question<span class="required"> *</span></label>
              <input type="text" id="questionName" formControlName="question" required />
              <span class="text-validator" *ngIf="
                  questionForm.get('question')?.touched &&
                  questionForm.get('question')?.hasError('required')">
                 * Question field is required
              </span>
            </div>

            <div class="input-wrapper col-12 col-md-4">
              <label for="sortOrder">Sort Order <span class="required"> *</span>
              </label>
              <input type="number" id="sortOrder" formControlName="slno" required />
              <span class="text-validator" *ngIf="
                  questionForm.get('slno')?.touched &&
                  questionForm.get('slno')?.hasError('required')">
                 * Slno is required
              </span>
            </div>

            <div class="input-wrapper form-description-wrapper col-12 col-md-4 mt-md-0 mt-3">
              <label for="responseType">Response Type</label>
              <select id="responseType" formControlName="answerTypeId" (change)="onResponseTypeChange($event)">
                <option selected value="" disabled>Select response type</option>
                <option *ngFor="let type of answerTypes" [value]="type.id">
                  {{ type.typeName }}
                </option>
              </select>

              <span class="text-validator" *ngIf="
                questionForm.get('answerTypeId')?.touched &&
                questionForm.get('answerTypeId')?.hasError('required')">
                * Response type is required
              </span>
              
            </div>

            <!-- <div class="input-wrapper form-description-wrapper col-12 col-md-4 mt-3">
              <label for="textBoxSize">Box size</label>
              <select id="textBoxSize" formControlName="size">
                <option selected value="" disabled>Select box size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div> -->

            <div *ngIf="showOptions" class="options-wrapper col-12 col-md-6 mt-3">
              <div class="row">
                <div class="input-wrapper col-12">
                  <div formArrayName="answerOptions">
                    <div *ngFor="let option of getOptions().controls; let i = index" [formGroupName]="i">
                      <div class="d-flex">
                        <div class="d-flex" style="align-items: center;">
                          <div>
                            <label for="option" class="mt-2">Option {{i+1}}</label>
                            <input style="width: 150px; height: 50px;" type="text" formControlName="optionValue"
                              placeholder="Enter option text" required />
                          </div>

                          <div class="wrapperopt mt-2" style="margin-left: 15px;">
                            <label for="nextQuestion{{ i }}">Next Question to show</label>
                            <select id="nextQuestion{{ i }}" formControlName="nextQuestionID">
                              <option selected value="">Select next question</option>
                              <option *ngFor="let question of questions" [value]="question.id">
                                {{ question.question }}
                              </option>
                            </select>
                          </div>

                        </div>

                        <button style=" width: 140px; height: 40px; margin-top: 37px; padding: 0px 25px; font-size: 16px; background-color: #f77f00; margin-left: 10px;" type="button" (click)="removeOption(i)">
                          Remove
                        </button>
                      </div>
                    </div>
                    <button style="width: 150px; margin-top: 15px; background-color: red; " type="button" (click)="addOption()">
                      Add Option
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="constraint-wrapper mt-5">
              <div class="row">
                <div class="constraint-checkbox input-wrapper mb-3 col-6 col-md-4" style="
                    flex-direction: row;
                    column-gap: 15px;
                    align-items: center;
                  ">
                  <input type="checkbox" id="addConstraint" formControlName="addConstraint"
                    style="width: 20px; height: 16px; cursor: pointer" />
                  <label for="addConstraint" style="padding-top: 7px">Add constraint</label>
                </div>

                <div class="constraint-checkbox input-wrapper mb-3 col-6 col-md-4" style="
                    flex-direction: row;
                    column-gap: 15px;
                    align-items: center;
                  ">
                  <input type="checkbox" id="requiredQuestionCheck" formControlName="required"
                    style="width: 20px; height: 16px; cursor: pointer" />
                  <label for="requiredQuestionCheck" style="padding-top: 7px">Required Question</label>
                </div>
              </div>

              <div *ngIf="questionForm.get('addConstraint')?.value" class="constraints-wrapper row">
                <div class="input-wrapper form-description-wrapper col-12 col-md-4">
                  <label for="constraintDatatype">Data type</label>
                  <select id="constraintDatatype" formControlName="dataType">
                    <option selected value="" disabled>Select data type</option>
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="date">date</option>
                  </select>
                </div>

                <div class="input-wrapper form-description-wrapper col-12 col-md-4">
                  <label for="constraintType">Constraints</label>
                  <select id="constraintType" formControlName="constraint">
                    <option selected value="" disabled>
                      Select constraint type
                    </option>
                    <option value="range">Range</option>
                    <option value="length">Length</option>
                    <option value="pattern">Pattern</option>
                  </select>
                </div>

                <div class="input-wrapper form-name-wrapper col-12 col-md-4">
                  <label for="ConstraintValue">Constraint Value</label>
                  <input type="text" id="ConstraintValue" formControlName="constraintValue" />
                </div>

                <div class="input-wrapper form-name-wrapper col-12 col-md-4 mt-3">
                  <label for="ConstraintWarningMessage">Warning Message</label>
                  <input type="text" id="ConstraintWarningMessage" formControlName="warningMessage" />
                </div>
              </div>
            </div>

            <div class="save-btn-wrapper">
              <button type="submit" class="btn2">Create Question</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>