
 <div class="container mt-5">
    <h1 class="text-center">{{ formData?.name }}</h1>
    <p class="text-center text-muted">{{ formData?.description }}</p>
  
  <form *ngIf="formData" >

      <div *ngFor="let section of formData.sections" class="card my-4">
        <div class="card-header">
          <h4>{{ section.sectionName }}</h4>
          <p class="text-muted">{{ section.description }}</p>
        </div>

        <div class="card-body">
          <div *ngFor="let question of section.questions" class="form-group mb-3">

            <label>{{ question.question }}</label>

            <div [ngSwitch]="getAnswerTypeName(question.answerTypeId)">
              <input *ngSwitchCase="'text'" type="text" class="form-control" placeholder="Enter your answer">

              <input *ngSwitchCase="'number'" type="number" class="form-control" placeholder="Enter your answer">

              <input *ngSwitchCase="'date'" type="date" class="form-control">

              <div *ngSwitchCase="'radio'">
                <div *ngFor="let option of question.answerOptions">
                  <input type="radio" [name]="'option_' + question.id" [value]="option.optionValue" (change)="handleOptionSelect($event, option, section)">
                  {{ option.optionValue }}
                </div>
              </div>

              <select *ngSwitchCase="'dropdown'" class="form-control">
                <option *ngFor="let option of question.answerOptions" (change)="handleOptionSelect($event, option, section)">{{ option.optionValue }}</option>
              </select>

              <div *ngSwitchCase="'checkbox'">
                <div *ngFor="let option of question.answerOptions">
                  <input type="checkbox" [value]="option.optionValue" (change)="handleOptionSelect($event, option, section)">
                  {{ option.optionValue }}
                </div>
              </div>

              <div *ngSwitchCase="'multi-select'">
                <select class="form-control" multiple>
                  <option *ngFor="let option of question.answerOptions">{{ option.optionValue }}</option>
                </select>
              </div> 
            </div>

          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  

